body {
}
div {
}
#container {

}
#topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    

}
#mi {
    color: red;
}
#health {
    color: rgb(75, 194, 127);
}
ul {
    display: flex;
}
li {
    display: inline;
    padding: 0 40px;
}
a {
    text-decoration: none;
}
#content {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 228, 228);
    align-content: stretch;
    height: 400px;
    
}
.allpics {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    flex-basis: 73%;
    display: flex;

}
.boxe {
    margin: 10px ;
    flex-basis: 100%;
}

#words {
    border: 2px solid black;
    flex-basis: 30%;
}
h2 {

}
p {

}
button {

}
.picture {

}
#rice {
    background-image: url(images/apple-breakfast-quinoa-7.jpg);
}
#pasta {
    background-image: url(images/pasta-salad-recipe-for-lunch.jpg);
}
#shrimp {
    background-image: url(images/shrimp.jpg);
}